@import "_brand.scss";

.text-white {
    color: $white;
}

.text-blue {
    color: $blue;
}

.text-indigo {
    color: $indigo;
}

.text-purple {
    color: $purple;
}

.text-pink {
    color: $pink;
}

.text-red {
    color: $red;
}

.text-orange {
    color: $orange;
}

.text-yellow {
    color: $yellow;
}

.text-green {
    color: $green;
}

.text-teal {
    color: $teal;
}

.text-cyan {
    color: $cyan;
}

.text-white {
    color: $white;
}

.text-gray {
    color: $gray;
}

.text-primary {
    color: $primary;
}

.text-secondary {
    color: $secondary;
}

.text-success {
    color: $success;
}

.text-info {
    color: $info;
}

.text-warning {
    color: $warning;
}

.text-danger {
    color: $danger;
}

.text-light {
    color: $light;
}

.text-dark {
    color: $dark;
}

.bg-white {
    background: $white;
}

.bg-blue {
    background: $blue;
}

.bg-indigo {
    background: $indigo;
}

.bg-purple {
    background: $purple;
}

.bg-pink {
    background: $pink;
}

.bg-red {
    background: $red;
}

.bg-orange {
    background: $orange;
}

.bg-yellow {
    background: $yellow;
}

.bg-green {
    background: $green;
}

.bg-teal {
    background: $teal;
}

.bg-cyan {
    background: $cyan;
}

.bg-white {
    background: $white;
}

.bg-gray {
    background: $gray;
}

.bg-primary {
    background: $primary;
}

.bg-secondary {
    background: $secondary;
}

.bg-success {
    background: $success;
}

.bg-info {
    background: $info;
}

.bg-warning {
    background: $warning;
}

.bg-danger {
    background: $danger;
}

.bg-light {
    background: $light;
}

.bg-dark {
    background: $dark;
}