@import "_brand.scss";

table {
    margin: 0!important;
}

.table thead th {
    border-bottom: 1px solid #dee2e6;
}

.table th {
    border-top: 0!important;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    .table-holder {
        padding: 15px 15px 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-radius: 4px;
        border: 1px solid $light;
        border-bottom: 1px solid $light;
        margin-bottom: 15px;
        display: block;
    }

    table td {
        border-bottom: 1px solid $light;
        display: block;
        text-align: right;
    }

    .table td, .table th {
        border-top: none;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
}